<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410056504709-71qsj97tk6nn5v7cr7ba3tk3u6ososrp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410056504709-71qsj97tk6nn5v7cr7ba3tk3u6ososrp</string>
	<key>API_KEY</key>
	<string>AIzaSyDo5SPBiAnx2-LfDXIIUOnX9WrJrkjVYTY</string>
	<key>GCM_SENDER_ID</key>
	<string>410056504709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>agency.q.flutterTdd</string>
	<key>PROJECT_ID</key>
	<string>q-flutter-tdd</string>
	<key>STORAGE_BUCKET</key>
	<string>q-flutter-tdd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410056504709:ios:c6e2ec4fc7fdd74f3340ec</string>
</dict>
</plist>