<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19086429069-vpi8d9oju0e8034pef8t7qnfcb88u2k4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19086429069-vpi8d9oju0e8034pef8t7qnfcb88u2k4</string>
	<key>API_KEY</key>
	<string>AIzaSyBYbUGU9ztQ5eWiQ2a-sOY9NftDREA4NA0</string>
	<key>GCM_SENDER_ID</key>
	<string>19086429069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>agency.q.flutterTdd.dev</string>
	<key>PROJECT_ID</key>
	<string>q-flutter-tdd-dev-21e1d</string>
	<key>STORAGE_BUCKET</key>
	<string>q-flutter-tdd-dev-21e1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19086429069:ios:2d60cda85239ea4cdecbc4</string>
</dict>
</plist>